/* helper style - css box model */
.border-blue {
    border: 1px dotted blue;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    user-select: none;
}

/* header section */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

i {
    margin-right: 10px;
    padding: 4px;
    background: none;
    border-radius: 50%;
    cursor: pointer;
}

i:hover {
    background: #dee2e6;
}

#nav-btn {
    background: #0066ff;
    color: #ffffff;
    border-radius: 8px;
}

/* search section */
main {
    margin-top: 70px;
}

#logo-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#search-input {
    width: 400px;
    display: block;
    margin: 20px auto;
    padding: 8px 12px;
    border: 2px solid #dee2e6;
    border-radius: 24px;
}

#search-input:focus::placeholder {
    color: transparent;
}

#btn-wrap {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 8px 12px;
    margin-right: 10px;
    background: #dee2e6;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #000000;
}

.btn:focus, #search-input {
    outline: none;
}

p a {
    color: #0066ff;
}

/* footer section */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #dee2e6;
}

#country-location {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ffffff;
}

#nav-wrap2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
